{% load staticfiles %}

<html>
    <head>
        <title>
            Protein Sequence Analyser
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body style="background-image: url('{% static "img/background2.jpg" %}')">
        
        <ul class="top">
            <li><img src="{% static "img/emblem.jpg" %}"></li>
        <!--<li><h2>National Institute of Technology,Karnataka</h2></li>-->
        <li ><img src="{% static "img/DJ_logo.jpg" %}" class="right"></li>
        </ul>
        <div class="container">
        <div class="trans"></div>
        
        <div class="text-holder"><h2>Protein Sequence Analyzer</h2>
        <br>
        <h5></h5></div>
        </div>

        {% block one %}
        {% endblock %}
    
    </body>
</html>
