{% load staticfiles %}

<html lang="en">
    <head>
        <title>
            Protein Sequence Analyser
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    </head>

    <body style="background-image: url('{% static "img/background1.jpg" %}')">
        

        <a href="{% url 'home' %}"><div id="wrapper">Home</div></a>
        {% block one %}
        {% endblock %}
        <footer>
            <div class="footer-left">
               <h5 style="text-align: center; font-weight:bold;">Contact</h5>
               <p style="font-weight: bolder;">Web related query:</p>
               <p>-Mr.Saurabh Agarwala(B.Tech)<br>
               -Dr.Nagamma Patil<br>
               <p style="font-weight: bolder;">Model related query:</p>
               -Mr.Sanjay Bankapur (pursuing PhD)</p>
            </div>
            <!-- <div class="footer-center">
                <p>You are visitor number {{ visitors }}</p>
            </div> -->
            <div class="footer-right">
               <h5 style="font-weight: bold;">Acknowledgements:</h5>
               <p>-Mr. Saurabh Agarwala (B.Tech)<br>	
               -Mr. Aakash Singh (B.Tech)<br>
               -Ms. Rakshatha Vasudev (B.Tech)<br>	
               -Ms. Madhumitha Nara (B.Tech)<br>
               -Mr. Abhilash V  (B.Tech)<br>	
               -Mr. Sanjay Bankapur (pursuing PhD)</p>	
            </div>
            
        </footer>
    </body>
</html>