{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Protein Sequence Analyser
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

    <body style="background-image: url('{% static "img/background2.jpg" %}' )">

        <div class="wrap">
            <img src="{% static "img/emblem.jpg" %}" class="img-left">
            <h1>Protein Sequence Analyzer</h1>
            
             <img src="{% static "img/DJ_logo.jpg" %}" class="img-right">
        </div>
        
       
        {% block one %}
        {% endblock %}
    
    </body>
</html>