{% extends 'base.html' %}
{% block one %}
       

        <div class="card-deck">
            <a href="{% url 'multiprotseqalign:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Multiple Protein Sequence Alignment
                    </h5>
                    <p class="card-text"></p>
                </div>
            </a>
             <a href="{% url 'secstructpred:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title" >
                        Secondary Structure Prediction
                        </li>
                    </h5>
                    <p class="card-text"></p>
                </div>
            </a>
        </div>
        <div class="card-deck">
            <a href="{% url 'secstructclasspred:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Secondary Structure Class Prediction
                    </h5>
                    <p class="card-text"></p>
                </div>
            </a>
            <a href="{% url 'foldrecog:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <li>Protein Fold Recognition
                    </h5>
                    <p class="card-text"></p>
                </div>
            </a> 
        </div>
        <div class="card-deck">
            <a href="{% url 'subcelllocpred:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5>
                        <li>Sub-cellular Location Prediction
                    </h5>
                    <p class="card-text"></p>
                </div>
            </a>
            <a href="{% url 'deeplocpred:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5>
                        <li>Deep Loc Sub-cellular Location Prediction
                    </h5>
                    <p class="card-text"></p>
                </div>
            </a>
         </div>


         <footer>
             <div class="footer-left">
                <h5 style="text-align: center;font-weight:bold;">Contact</h5>
                <p style="font-weight: bolder;">Web related query:</p>
                <p>-Mr.Saurabh Agarwala(B.Tech)<br>
                -Dr.Nagamma Patil<br>
                <p style="font-weight: bolder;">Model related query:</p>
                -Mr.Sanjay Bankapur (pursuing PhD)</p>
             </div>
             <div class="footer-center">
                <p>You are visitor number {{ visitors }}</p>
             </div>
             <div class="footer-right">
                <h5 style="font-weight: bolder;">Acknowledgements:</h5>
                -Mr. Saurabh Agarwala (B.Tech)<br>	
                -Mr. Aakash Singh (B.Tech)<br>
                -Ms. Rakshatha Vasudev (B.Tech)<br>	
                -Ms. Madhumitha Nara (B.Tech)<br>
                -Mr. Abhilash V  (B.Tech)<br>	
                -Mr. Sanjay Bankapur (pursuing PhD)</p>	
             </div>
             
         </footer>

        <!-- {% comment %} To be added in the CSS {% endcomment %}
         <footer style = "position: fixed;left: 0;bottom: 0;width: 100%;color: white;text-align: center;">
        
         </footer>
 -->


{% endblock %}
