{% extends 'base.html' %}
{% block one %}


        <div class="card-deck">
            <a href="{% url 'multiprotseqalign:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Multi Protein Sequence Align
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>
             <a href="{% url 'secstructpred:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title" >
                        Secondary Structure Prediction
                        </li>
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>
            <a href="{% url 'secstructclasspred:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Secondary Structure Class Prediction
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>
            <a href="{% url 'foldrecog:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <li>Protein Fold Recognition
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>  
            <a href="{% url 'subcelllocpred:predict' %}" class="card">
                <div class="card-body text-center">
                    <h5>
                        <li>Subcell Location Prediction
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>  
         </div>


{% endblock %}
