body{
    font-family: "Lato", sans-serif;
    background-image: url("img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.text-holder h2,h5{
    text-align: center;
    color:#F0FFF0;
    font-weight: bold;
    position: relative;
    width: 100%;
 
}

.container{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.trans{
    opacity: 0.7;
    align-content: center;
    background-color: black;
    
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
        
li {
    list-style-type: none;
    
    }
a{
    color: #f0fff0;

}
a:hover{
    color: #f0fff0;
   
}
         
ul.top{
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}
         
ul.top li h2{
    color: #ffffff;
    font-weight: bolder;
    float: left;
    padding: 5px 30px;
}

.card-deck{
    padding: 20px;
    margin: 0;
}

.card{
    background-color: black;
    opacity: 0.9;
    color: #f0fff0;
}

