{% extends 'base_sub.html' %}

{% block one %}

<div class="content">
    <h1 align="center">Multiple Protein Sequence Alignment</h1>
    {% load widget_tweaks %}

    <form action="{% url 'multiprotseqalign:predict' %}" method="POST" enctype="multipart/form-data">
    	
        {% csrf_token %}
        
        <!--{{ form }}-->

       {% for field in form.visible_fields %}
    <div class="form-group">
    	<!--<label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}-->
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      
    </div>
  {% endfor %}


        <button type="submit" >Submit</button>
    </form>
</div>

{% endblock %}
