body{
    font-family: "Lato", sans-serif;
    /*background-image: url("img/background2.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  
}
/* .text-holder h2,h5{
    text-align: center;
    color:#F0FFF0;
    font-weight: bold;
    padding: 0;
    margin: 0;
    /* position: relative;
    width: 100%; */
 
/* }

.text-holder h5{
    font-style: italic;
    font-weight: normal;
} */ 

.container{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.trans{
    opacity: 0.7;
    align-content: center;
    background-color: black;
    
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

    
li {
    list-style-type: none;
    
    }
a{
    color: #f0fff0;

}
a:hover{
    color: #f0fff0;
   
}
         
.wrap{
     
    /* background-color: black; */
    
    width: 100%;
    height: 160px;
    position: relative;
     
}

 .wrap h1{
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    
    
}
.wrap img {
    
     position: absolute;
    bottom: 0;
}

.wrap img:nth-of-type(1) {
    left: 0;
    padding: 5px;
    border-radius: 10px;
}

.wrap img:nth-of-type(2) {
    right: 0;
    padding: 5px;
    border-radius: 10px;
}
.card-deck{
    padding: 20px;
    margin-bottom: 10px;
}

.card{
    background-color: black;
    opacity: 0.9;
    color: #f0fff0;
}

.content h1{
    color: #000000;
    font-weight: bolder;
}

#wrapper{
    background-color:#b2b2b2;
    color: black;
    padding: 15px;
    width: 25%;
    text-align: center;
    margin: 20px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 25px;
}

#wrapper:hover{
    background-color:#999999; 
}
a:hover{
    text-decoration-line: none;
}

form{
    padding: 10px;
    margin: 0% 10%;
    color: white;
    width: 80%;
    
}
.form-control{
    vertical-align: middle;
}

button{
    background-color:#b2b2b2;
    padding: 15px;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    width: 15%;
    float: right;
    
}

button:hover{
    background-color: #999999;
}

.message {
    color: white;
    background-color: black;
    padding: 40px;
    text-align: center;
    margin: 40px;
    font-weight: bolder;
}

.result{
    color: white;
    font-weight: bolder;
}

.result p{
    color: white;
    background-color: black;
    padding: 40px;
    margin: 40px;
    font-weight: bolder;
}

.container-fluid ul{
    list-style-type: circle;
    color: white;
    padding: 40px;
    margin: 40px;
    font-weight: bolder;
}

.container-fluid ul li{
     list-style-type: disc;
}
.result pre{
	color: white;
	font-size:20px;
	font-weight: bolder;
}

.w3-theme{
 opacity:0.8;}

.top li img{
	padding: 5px;
	opacity: 0.9;
	border-radius: 10px;
}


footer{
    background-color: #000000;
    margin-top: 100px; 
    color: #F0FFF0;
    bottom: 0; 
    width: auto;  
    overflow: hidden; 
}

.footer-left{
    float: left;
    
  
}
.footer-center{
  text-align:center;
 
}

.footer-center a{ 
    margin-top: 15px;
}
.footer-right{  
    float: right;
    
}

.model-info{
    background-color:#ffffffd8;
    opacity: 0.8;
    color: black;
    padding: 20px;
    margin: 5px;
}
.model-info h5{
    color: black;
    text-align: justify;
}
.detail-info{
    background-color:#ffffffd8;
    opacity: 0.8;
    width: 100%;
    color: black;
    padding: 20px;
    margin: 5px;
}

.detail-info h5{
    color: black;

}
.detail-info a h5:hover{
    color: rgb(102, 16, 16);
}
.input-format{
    background-color: #ffffffd8;
    opacity: 0.9;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 5px;
}
.input-format h5{
    color: black;
    text-align: justify;
}
.model h1{
    text-align: center;
}

.g-recaptcha{
    display: inline-block;
  
}
.text-center{
    text-align: center;
}
