body{
    font-family: "Lato", sans-serif;
    /*background-image: url("img/background2.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.text-holder h2,h5{
    text-align: center;
    color:#F0FFF0;
    font-weight: bold;
    position: relative;
    width: 100%;
 
}
.text-holder h5{
    font-style: italic;
    font-weight: normal;
}
.container{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.trans{
    opacity: 0.7;
    align-content: center;
    background-color: black;
    
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
        
li {
    list-style-type: none;
    
    }
a{
    color: #f0fff0;

}
a:hover{
    color: #f0fff0;
   
}
         
ul.top{
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}
         
ul.top li h2{
    color: #ffffff;
    font-weight: bolder;
    float: left;
    padding: 5px 30px;
}

.card-deck{
    padding: 20px;
    margin: 0;
}

.card{
    background-color: black;
    opacity: 0.9;
    color: #f0fff0;
}

.content h1{
    color: #000000;
    font-weight: bolder;
}

#wrapper{
    background-color: #802b00;
    padding: 15px;
    width: 25%;
    text-align: center;
    margin: 20px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 25px;
}

#wrapper:hover{
    background-color:#994d00; 
}
a:hover{
    text-decoration-line: none;
}

form{
    padding: 10px;
    align-content: center;
    color: white;

}

button{
    background-color:#660000;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 15%;
    align-content: center;
}

button:hover{
    background-color: #994d00;
}

.message {
    color: white;
    background-color: black;
    padding: 40px;
    text-align: center;
    margin: 40px;
    font-weight: bolder;
}

.result{
    color: white;
    font-weight: bolder;
}

.result p{
     color: white;
    background-color: black;
    padding: 40px;
    text-align: center;
    margin: 40px;
    font-weight: bolder;
}