# service to run runner1.py - which executes a master script handling all the i/o of model. It is present at /etc/systemd/system.
[Unit]
Description=runner_1 service
After=multi-user.target

[Service]
User=psa
Group=psa
ExecStart=/home/psa/anaconda3/bin/python3  /home/psa/protein-seq-analyser/protseqanalyser/runner1.py start
ExecStop=/home/psa/anaconda3/bin/python3 /home/psa/protein-seq-analyser/protseqanalyser/runner1.py stop

[Install]
WantedBy=multi-user.target
